*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none;
    display: block;
}

li { list-style: none; }

html { 
    font-family: "Inter", sans-serif;
    font-size: var(--fs-base);
    line-height: 1.8;
}

footer {
    --action-primary: rgb(225, 231, 239);

    --foreground-primary: rgb(45, 55, 72);
    --foreground-secondary: rgb(114, 129, 151);

    --accent: rgb(102, 127, 234);
}

:root {

    --fs-base: 0.85rem;
    
    --fs-4: 0.875rem;

    --py: 5rem;
}

footer { background: var(--background-primary); }

footer .container {
    padding: var(--py) 15px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

footer .wrapper { text-align: center; }

.footer-logo { margin-bottom: 10px; }

.footer-text { 
    color: var(--foreground-secondary);
    max-width: 300px;
    margin-inline: auto;
    margin: auto;
}

.footer-title {
    color: var(--foreground-primary);
    font-weight: 700;
    margin-bottom: 0.4rem;
}

.footer-link { color: var(--foreground-secondary); }

.footer-link:hover { color: var(--accent); }

.copyright {
    color: var(--foreground-secondary);
    font-size: var(--fs-4);
    text-align: center;
    padding: 1rem;
    border-top: 1px solid var(--action-primary);
}

.copyright a {
    color: var(--accent);
    font-weight: 500;
}

.copyright a:hover { text-decoration: underline;}