.light-theme {
    --background-primary: rgb(255, 255, 255);
    --background-secondary: rgb(247, 247, 247);

    --action-primary: rgb(225, 231, 239);

    --foreground-primary: rgb(45, 55, 72);
    --foreground-secondary: rgb(114, 129, 151);
    --foreground-tertiary: rgb(160, 174, 192);

    --accent: rgb(102, 127, 234);
}

.dark-theme {
    --background-primary: rgb(45, 55, 72);
    --background-secondary: rgb(26, 33, 45);

    --action-primary: rgb(114, 129, 151);

    --foreground-primary: rgb(237, 242, 247);
    --foreground-secondary: rgb(204, 214, 224);
    --foreground-tertiary: rgb(160, 174, 192);

    --accent: rgb(102, 127, 234);
}

:root {

    --white: rgb(255, 255, 255);

    --fs-base: 0.85rem;

    --fs-2: 1.5rem;
    --fs-3: 1.25rem;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a { text-decoration: none; }

li { list-style: none; }

img, button { display: block; }

a, span { display: inline-block; }

button {
    font: inherit;
    border: none;
    background: none;
    cursor: pointer;
}

html {
    font-family: "Inter", sans-serif;
    font-size: var(--fs-base);
    line-height: 1.8;
}

:fokus { outline-offset: 4px; }

::scrollbar { width: 16px; }

::-webkit-scrollbar-thumb {
    background: var(--accent);
}



.h3 {
    display: block;
    color: var(--foreground-primary);
}

.h3 {
    font-size: var(--fs-3);
    font-weight: 700;
}

.container {
    margin-inline: auto;
    margin: auto;
    padding: 0 15px;
}

.btn {
    min-width: 10rem;
    border-radius: 100px;
}

header { background: var(--backround-primary); }

header .desktop-nav-wrapper { display: none; }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
}

.logo { display: none; }

header .logo { display: block; }

.btn-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.theme-btn-mobile, 
.nav-menu-btn,
.nav-close-btn {
    background: var(--action-primary);
    color: var(--foreground-tertiary);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 25px;
}

:is(.theme-btn-mobile,
.nav-menu-btn,
.nav-close-btn):hover {
    background: var(--accent);
    color: var(--white);
}

.theme-btn-mobile ion-icon { display: none; }

.theme-btn-mobile.light .sun, 
.theme-btn-mobilne.dark .moon { display: block; }

.mobile-nav {
    position: fixed;
    inset: 0;
    background: var(--background-primary);
    padding: 70px 20px;
    overflow: auto;
    overscroll-behavior: contain;
    transform: translateX(100%);
    visibility: hidden;
    transition: 0.5s cubic-bezier(1, 0, 0.3, 0.7);
    z-index: 10;
}

.mobile-nav.active {
    transform: translateX(0);
    visibility: visible;
}

.nav-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.mobile-nav .wrapper {
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid var(--action-primary);
}

.mobile-nav .nav-title { margin-bottom: 1rem; }

.mobile-nav .nav-item { margin-bottom: 0.5rem; }

.mobile-nav .nav-link {
    font-size: var(--fs-3);
    color: var(--foreground-secondary);
}

.mobile-nav .nav-link:hover { color: var(--accent); }


@media (min-width: 700px) {

    :root {
        --fs-base: 1rem;
        --fs-1: 3rem;
    }

    .container { max-width: 1150px; };

    .btn-group { display: none; }
    header .btn-group { display: none; }

    header .desktop-nav-wrapper {
        display:flex ;
        gap: 30px;
    }

    .desktop-nav {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    
    .desktop-nav .nav-link {
        color: var(--foreground-secondary);
        font-weight: 700;
    }

    .desktop-nav .nav-link:hover { color: var(--accent); }

    .theme-btn-desktop {
        position: relative;
        background: var(--background-secondary);
        color: var(--white);
        width: 52px;
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
    }

    .theme-btn-desktop.light {
        background: linear-gradient(45deg, hsl(7, 100%, 71%), hsl(46, 100%, 65%));
    }

    .theme-btn-desktop.dark {
        background: linear-gradient(45deg, hsl(225, 100%, 60%), hsl(296, 80%, 40%));
    }

    .theme-btn-desktop::before {
        content: '';
        position: absolute;
        background: var(--white);
        width: 21px;
        height: 21px;
        border-radius: 30px;
        top: 50%;
        left: 3px;
        transform: translateY(-50%);
        box-shadow: 0 2px 10px -2px hsla(0, 0%, 0%, 0.05);
        z-index: 2;
    }

    .theme-btn-desktop.dark::before {left: calc(100% - 24px); }
}